
@{
    ViewBag.Title = "Consigna";
    Layout = "~/Views/Shared/Layout_consentimiento.cshtml";
}

<h2>DAT - RV [Breve]</h2>

<p>
    A continuación vas a encontrar 17 oraciones incompletas. A cada una de esas oraciones le
    faltan la primera y la última palabra. En cada caso, vas a tener que elegir de las opciones
    presentadas, las que completarían cada oración, haciendo que sean válidas y coherentes.
    Veamos primero algunos ejemplos:
</p>

<h3>Ejemplo 1</h3>

<p>
    ............... es a agua como comer es a ...............
    A- continuar ............................... empujar
    B- pie ..................................... enemigo
    C- beber ................................... alimento
    D- muchacha ................................ industria
    E- beber ................................... enemigo
</p>

<p> La frase bien completada sería: Beber es a agua como comer es a alimento. Beber
    es la primera palabra del par C, y alimento es la segunda palabra del par C.
</p>

<h3>Ejemplo 2</h3>

<p>
    ........... es a noche como desayuno es a ...........
    A- cena .................................... esquina
    B- suave ................................... mañana
    C- puerta .................................. esquina
    D- flujo ................................... disfrutar
    E- cena..................................... mañana
</p>

<p> La frase bien completada sería: Cena es a noche como desayuno es a mañana.
    Cena va en el vacío del principio de la oración y mañana en el vacío final. La
    opción correcta es la E.
</p>

<h3>Ejemplo 3</h3>

<p>
    ............... es a uno como segundo es a ...............
    A- dos ....................................... medio
    B- primero ................................... fuego
    C- reina ..................................... colina
    D- primero ................................... dos
    E- lluvia..................................... fuego
</p>

<p>
    Primero es a uno como segundo es a dos. Primero tiene que ir en el espacio en blanco del principio de la oración, y dos en el espacio en blanco del final. La
    opción correcta es la D.
</p>

<p>
    * Para cada una de las 17 oraciones incompletas, elegí una sola opción.<br />
    * Tenés 10 minutos para completar la tarea. Trabajá lo más rápido que puedas, y con la mayor exactitud. <br />
    * Cuando no estés seguro de una respuesta, marcá la que te parezca más probable.
</p>


<a class="btn btn-info" id="Entendido" href="~/Home/Test_RV">Entendido</a> 


