
@{
    ViewBag.Title = "Consigna";
    Layout = "~/Views/Shared/Layout_consentimiento.cshtml";
}

<h2>DAT - RA [Breve]</h2>

<p>
    A continuación vas a encontrar 17 filas de dibujos o figuras. Las cuatro primeras figuras de
    cada fila son llamadas “problema”, y las cinco siguientes, “solución”. Tu tarea consiste en
    reconocer cuál de las cinco opciones presentadas entre las figuras “solución” sería la que
    continuaría la serie de las cuatro figuras “problema”, es decir, la figura que sigue a las cuatro
    figuras “problema”. Veamos primero algunos ejemplos:
</p>

<h3>Ejemplo 1</h3>
<img src="~/dat_img/RA/Ejemplo #1.jpg" />

<p>
    Las líneas de las figuras problema van cayendo de derecha a izquierda. En el
    primer cuadrado la línea es vertical, y las siguientes se van inclinando cada vez
    más hacia la derecha. Por lo tanto, la próxima línea, la del quinto cuadrado,
    debería ser horizontal, siendo la opción correcta el cuadrado D de las figuras
    solución.
</p>

<h3>Ejemplo 2</h3>
<img src="~/dat_img/RA/Ejemplo #2.jpg" />

<p>
    Mirá con detenimiento la posición del punto negro en las figuras problema. Vas a
    ver que de derecha a izquierda se van moviendo en sentido de las agujas de un
    reloj: ángulo superior izquierdo, ángulo superior derecho, ángulo inferior derecho,
    ángulo inferior izquierdo. ¿Cuál tendría que ser la próxima posición? Nuevamente
    el ángulo superior izquierdo. Por lo tanto, la respuesta correcta es la B.
</p>

<p>
    * Para cada uno de los 17 problemas que se presentan a continuación, elegí una sola opción
    de las figuras solución.
    * Tenés 10 minutos para completar la tarea. Trabajá lo más rápido que puedas, y con la
    mayor exactitud.
    * Cuando no estés seguro de una respuesta, marcá la que te parezca más probable.
</p>


<a class="btn btn-info" id="Entendido" href="~/Home/Test_RA">Entendido</a> 


