
@{
    ViewBag.Title = "Consentimiento Informado";
    Layout = "~/Views/Shared/Layout_Consigna.cshtml";
}

@section Styles{
    <link type="text/css" rel="stylesheet" href="~/Content/Consentimiento.css" />
}

<div class="form-row">
    <div id="Container_1" class="col col-md-4">
        <form action="@Url.Action("CrearSujeto","Home")" method="post">
            <div id="ApellidoyNombre" class="form-row">
                <div class="col">
                    <label>Apellido</label>
                    <input type="text" class="form-control" name="Apellido" required />
                </div>
                <div class="col">
                    <label>Nombre</label>
                    <input type="text" class="form-control" name="Nombre" required />
                </div>
            </div>
            <label>Mail</label>
            <input type="email" class="form-control" name="Mail" placeholder="mail@hotmail.com" required />
            <div class="form-row">
                <div class="col">
                    <label>Género</label>
                    <input type="text" name="Genero" class="form-control" maxlength="20" required />
                </div>
                <div class="col">
                    <label>Edad</label>
                    <input type="number" name="Edad" max="99" class="form-control" required />
                </div>
            </div>
            <div id="Carrera">
                <label>Carrera</label>
                <input type="text" name="Carrera" class="form-control" required />
            </div>
            <div id="Universidad">
                <label>Universidad</label>
                <input type="text" name="Universidad" class="form-control" required />
            </div>
            <div class="form-row"><input type="submit" class="btn btn-success form-control" value="Acepto" /></div>
            <div>
                <p>
                    *Al hacer clic en "Acepto", usted da su consentimiento para participar de la presente investigación.
                </p>
            </div>
        </form>
    </div>
    <div id="Container_2" class="col col-md-7">
        <h2>Consentimiento Informado</h2>
        <p>
            El presente Proyecto de Investigación UBACyT, busca indagar la relación existente entre un tipo particular de memoria (memoria de trabajo) y las habilidades en distintos tipos de Razonamiento (Abstracto, Mecánico y Verbal), comparando el desempeño de estudiantes de Ingeniería y Psicología. 
        </p> 
        <p>
            Cabe aclarar que la participación en esta investigación es <b>voluntaria</b>, <b>anónima</b> y que no tendrá ningún tipo de devolución.  Además, <b>sus datos no serán analizados de manera individual</b>, sino en el conjunto de una matriz de datos. 
        </p> 
        <p>
            Debido a que los ejercicios que realizará necesitan de su <b>concentración</b> y <b>atención</b>, se le solicita que mientras realice los ejercicios, <b>evite momentáneamente las distracciones</b> como por ej.: Chequear Whatsapp (se recomienda poner el celular en silencio), escuchar música o tener abiertas las Redes Sociales (Facebook, Twitter, Instragram, etc.). 
        </p> 
        <p>
            La realización de todos los ejercicios le puede tomar estimativamente  unos 20 minutos. Debido a que el objetivo es que realice dichos ejercicios lo más rápido y mejor posible, es que se le solicita que tome los recaudos anteriormente nombrados, de modo tal que pueda realizar la experiencia con tranquilidad y sin interrupciones. 
        </p> 
        <p>
            Por cualquier duda o consulta, puede escribir al siguiente mail: guido_181193@outlook.com 
        </p> 
        <p>
            <b>Directora</b>: Dra. Irene Injoque Ricle – Facultad de Psicología, UBA.<br />  
            <b>Becario</b>: Guido H. Caruso – Facultad de Psicología, UBA.
        </p>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/Consentimiento.js"></script>
}