
@{
    ViewBag.Title = "Consentimiento";
    Layout = "~/Views/Shared/Layout_Consentimiento.cshtml";
}

@section Styles{
    <link type="text/css" rel="stylesheet" href="~/Content/Consentimiento.css" />
}

<h2>Consentimiento Informado</h2>
<p>
    Esta es una investigación ......
    etc (...)
</p>

<form action="@Url.Action("CrearSujeto","Home")" method="post">
    <div>
        <label>Apellido</label>
        <input type="text" class="form-control" name="Apellido" required/>
        <label>Nombre</label>
        <input type="text" class="form-control" name="Nombre" required/>
        <label>Mail</label>
        <input type="email" class="form-control" name="Mail" placeholder="mail@homail.com" required/>
    </div><br /><br />     
    <div id="Sea">
        <div id="Sexo" class="col-md-2">
            <div class="row">
                <label>Masculino</label>
                <input type="radio" name="Sexo" value="M" required />
            </div>
            <div class="row">
                <label>Femenino</label>
                <input type="radio" name="Sexo" value="F" required />
            </div>
        </div>
        <div class="col-md-2" id="Edad">
            <label>Edad</label><br />
            <input type="number" name="Edad" min="18" max="99" />
        </div> <br />
        <br />
    </div>
    
    <div class="col-md-4" id="Carrera">
        <label>Carrera</label><br />
        <input type="text" name="Carrera" />
    </div>
    <div class="col-md-4" id="Universidad">
        <label>Universidad</label><br />
        <input type="text" name="Universidad" />
    </div> 
    <input type="submit" class="btn btn-success col-md-4" value="Acepto" />

</form>

@section Scripts{
    <script src="~/Scripts/Consentimiento.js"></script>
}