
@{
    ViewBag.Title = "Consentimiento Informado";
    Layout = "~/Views/Shared/Layout_Consigna.cshtml";
}

@section Styles{
    <link type="text/css" rel="stylesheet" href="~/Content/Consentimiento.css" />
}

<h2>Consentimiento Informado</h2>
<p>
    Esta es una investigación ......
    etc (...)
</p>

<form action="@Url.Action("CrearSujeto","Home")" method="post">
    <div>
        <label>Apellido</label>
        <input type="text" class="form-control" name="Apellido" required/>
        <label>Nombre</label>
        <input type="text" class="form-control" name="Nombre" required/>
        <label>Mail</label>
        <input type="email" class="form-control" name="Mail" placeholder="mail@homail.com" required/>
        <br /><br />     
        <div id="Genero" class="col-md-2">
            <label>Género</label>
            <input type="text" name="Genero" class="form-control" maxlength="20" required/>
        </div>
        <div class="col-md-2" id="Edad">
            <label>Edad</label><br />
            <input type="number" name="Edad" max="99" class="form-control" required/>
        </div> 
        <br /><br />
    </div>
    
    <div class="col-md-4" id="Carrera">
        <label>Carrera</label><br />
        <input type="text" name="Carrera" class="form-control" required/>
    </div>
    <div class="col-md-4" id="Universidad">
        <label>Universidad</label><br />
        <input type="text" name="Universidad" class="form-control" required/>
    </div> 
    <input type="submit" class="btn btn-success col-md-4" value="Acepto" />

</form>

@section Scripts{
    <script src="~/Scripts/Consentimiento.js"></script>
}