
@{
    ViewBag.Title = "Consigna";
    Layout = "~/Views/Shared/Layout_consentimiento.cshtml";
}

<h2>DAT - RM [Breve]</h2>

<p>
    En esta prueba se te presenta una serie de figuras y se te formulan preguntas acerca de ellas.
    Deberás marcar siempre entre tres opciones: (A) – (B) – (C).
    Vamos a presentarte un ejemplo:
</p>

<h3>Ejemplo 1</h3>
<h5>
    ¿Cuál de los dos hombres soporta mayor peso? (Si te parece que los dos lo hacen por
    igual, marcá la opción correspondiente a la letra (C).
</h5>

<img src="~/dat_img/RM/Ejemplo_1.jpg" />

<p>
    En este ejemplo el Hombre “B” soporta mayor peso porque la carga está más cerca de él que el
    hombre “A”. Para contestar debe indique (con una cruz, o redondeé) la letra B.
    Ahora, fijate el Ejemplo 2
</p>

<h3>Ejemplo 2</h3>
<h5>
    ¿Qué pesa más? (Si pesan lo mismo, marcá la opción correspondiente a la letra (C).
</h5>
<img src="~/dat_img/RM/Ejemplo_2.jpg" />

<p>
    En este ejemplo, las balanzas están perfectamente equilibradas. A y B entonces tienen el mismo
    peso. En este caso, la respuesta correcta sería, entonces, la C. Por esta razón corresponde en las
    opciones esa letra (C).
</p>

<p>
    * A continuación aparecerán más figuras y preguntas. Lee cada pregunta, y observá las figuras
    cuidadosamente, y marcá su solución al costado. No olvides que cada problema tiene tres y siempre
    tres opciones posibles, pero sólo una es la correcta. <br />
    * Tenés 15 minutos para responder a todos los problemas. Respondé lo mejor y lo más rápidamente
    posible.<br /> 
    * Si no estás seguro de tu respuesta, marcá la que te parezca mejor.
</p>


<a class="btn btn-info" id="Entendido" href="~/Home/Test_RM">Entendido</a> 


