
@{
    ViewBag.Title = "Descarga";
    Layout = "~/Views/Shared/Layout_Consigna.cshtml";
}

<h2>Link de Descarga</h2>
<a href="@Url.Action("Descargar", "Home")" target="_blank"> @ViewBag.Nombre_Archivo </a>

