<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" />
    <title>Final</title>
</head>
<body style="text-align:center; margin-top:15vh">
    <div>
        <h1>¡Muchas Gracias por tu Participación!</h1>
        <img src="../../Content/img/Imagen.png" height="400" width="800" />
        <p> Por cualquier duda o comentario podes escribir a la siguiente dirección:</p>
        <p><b>guido_181193@outlook.com</b></p>
        <a class="btn btn-info col-md-4" style="left:33.33%" id="VerResultados" href="~/Home/Resultados">VER RESULTADOS</a>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://getbootstrap.com/docs/3.3/dist/js/bootstrap.min.js"></script>
</body>
</html>
