<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" />
    <title>Intermedio</title>
</head>
<body style="text-align:center; margin-top:9vh">
    <div style="font-family:'Times New Roman'">
        <h1 style="color:#28a745">¡ÁNIMO!</h1>
        <img src="../../Content/img/Memoria.jpg" height="400" width="400" />
        <h4>Sólo te quedan dos pruebas por completar</h4>
        <h4>Al finalizar, ¡no olvides consultar tus resultados!</h4>
        <a class="btn btn-success col-md-4" style="font-size:2rem; left:33.33%;" href="~/Home/Consigna_RA">CONTINUAR</a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://getbootstrap.com/docs/3.3/dist/js/bootstrap.min.js"></script>
    <script src="../../Scripts/PrevenirCierre.js"></script>
</body>
</html>