
@{
    ViewBag.Title = "DAT - RV [Breve]";
    Layout = "~/Views/Shared/Layout_test.cshtml";
}

@section Styles{
    <link type="text/css" rel="stylesheet" href="~/Content/Test_RV.css" />
}

<!-- Tabla con Problemas y Select para elegir la Solución A, B, C, D o E -->

<form action="@Url.Action("CargarRespuestas_RV","Home")" id="Formulario" method="post">
    <input type=text name="ID" class="show" value="@ViewBag.ID" /> 
    <table>
        <!-- 01 -->
        <tr> 
            <td>01</td>
            <td><p>
                    .......... es a manteca como café es a .......... <br />
                    A- pan ................................. verter <br />
                    B- vaca ................................ leche <br />
                    C- pan ................................. leche <br />
                    D- pan ................................. caliente <br />
                    E- engordar............................. crema
                </p></td>
            <td>
                <select id="1" name="V01">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 02 -->
        <tr>
            <td>02</td>
            <td>
                <p>
                    .......... es a colmillo como ciervo es a .......... <br />
                    A- elefante .............................. gacela <br />
                    B- marfil ................................ gacela <br />
                    C- elefante .............................. cornamenta <br />
                    D- marfil ................................ cornamenta <br />
                    E- marfil................................. cazar
                </p>
            </td>
            <td>
                <select id="2" name="V02">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 03 -->
        <tr>
            <td>03</td>
            <td>
                <p>
                    .......... es a carrera como lentitud es a .......... <br />
                    A- profesión .............................. trabajo <br />
                    B- ligero ................................. tardío <br />
                    C- correr ................................. tardío <br />
                    D- rápido ................................. detención <br />
                    E- velocidad............................... paseo  
                </p>
            </td>
            <td>
                <select id="3" name="V03">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 04 -->
        <tr>
            <td>04</td>
            <td>
                <p>
                    .......... es a segundo como día es a .......... <br />
                    A- primero ............................ hora <br />
                    B- primero ............................ luz <br />
                    C- minuto ............................. diario <br />
                    D- minuto ............................. hora <br />
                    E- reloj............................... diana
                </p>
            </td>
            <td>
                <select id="4" name="V04">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 05 -->
        <tr>
            <td>05</td>
            <td>
                <p>
                    .......... es a bife como cerdo es a .......... <br />
                    A- novillo .......................... chiquero <br />
                    B- vaca ............................. jamón <br />
                    C- toro ............................. lechón <br />
                    D- costilla ......................... fiambre <br />
                    E- vaca.............................. chiquero
                </p>
            </td>
            <td>
                <select id="5" name="V05">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 06 -->
        <tr>
            <td>06</td>
            <td>
                <p>
                    .......... es a pie como sombrero es a .......... <br />
                    A- dedo ................................. cabeza <br />
                    B- tobillo .............................. cabeza <br />
                    C- zapato ............................... ala <br />
                    D- zapato ............................... cabeza <br />
                    E- dedo.................................. ala 
                </p>
            </td>
            <td>
                <select id="6" name="V06">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 07 -->
        <tr>
            <td>07</td>
            <td>
                <p>
                    .......... es a ostra como diamante es a .......... <br />
                    A- almeja ................................ gema <br />
                    B- sopa .................................. gema <br />
                    C- perla ................................. mina <br />
                    D- almeja ................................ mina <br />
                    E- concha................................. perla
                </p>
            </td>
            <td>
                <select id="7" name="V07">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 08 -->
        <tr>
            <td>08</td>
            <td>
                <p>
                    .......... es a vela como madera es a .......... <br />
                    A- cera ................................ vegetal <br />
                    B- cera ................................ palo <br />
                    C- viento .............................. bote <br />
                    D- dormir .............................. papel <br />
                    E- bote................................. vegetal 
                </p>
            </td>
            <td>
                <select id="8" name="V08">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 09 -->
        <tr>
            <td>09</td>
            <td>
                <p>
                    .......... es a bandera como poste es a .......... <br />
                    A- saludo ............................... madera <br />
                    B- saludo ............................... alambrado <br />
                    C- franjas .............................. alambrado <br />
                    D- franjas .............................. luz <br />
                    E- mástil ............................... farol
                </p>
            </td>
            <td>
                <select id="9" name="V09">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 10 -->
        <tr>
            <td>10</td>
            <td>
                <select id="10" name="V10">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 11 -->
        <tr>
            <td>11</td>
            <td>
                <select id="11" name="V11">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 12 -->
        <tr>
            <td>12</td>
            <td>
                <select id="12" name="V12">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 13 -->
        <tr>
            <td>13</td>
            <td>
                <select id="13" name="V13">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 14 -->
        <tr>
            <td>14</td>
            <td>
                <select id="14" name="V14">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 15 -->
        <tr>
            <td>15</td>
            <td>
                <select id="15" name="V15">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 16 -->
        <tr>
            <td>16</td>
            <td>
                <select id="16" name="V16">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 17 -->
        <tr>
            <td>17</td>
            <td>
                <select id="17" name="V17">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
    </table>
    <input type="submit" name="Submit" class="btn btn-success" id="Submit" value="Siguiente"/>
</form>

@section Scripts{
    <script src="~/Scripts/Test_RV.js"></script>
}

