
@{
    ViewBag.Title = "DAT - RV [Breve]";
    Layout = "~/Views/Shared/Layout_Test.cshtml";
}

@section Styles{
    <link type="text/css" rel="stylesheet" href="~/Content/Test_RV.css" />
}

<!-- Tabla con Problemas y Select para elegir la Solución A, B, C, D o E -->

<form action="@Url.Action("CargarRespuestas_RV","Home")" id="Formulario" method="post">
    <!-- 01 -->
    <table> 
            <tr>
                <td rowspan="6" class="negrita">01 &nbsp;</td>        
                <td></td>
                <td class="negrita col1">..........</td>
                <td class="centrado">es a manteca como café es a</td>                   
                <td class="negrita col2">..........</td>
                <td rowspan="6"> &nbsp; <select id="1" name="V01">
                        <option value="" selected></option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>A &nbsp;</td>
                <td class="col1">pan</td>                     
                <td class="punteado"></td>
                <td class="col2">verter</td>                  
            </tr>

            <tr>
                <td>B</td>
                <td class="col1">vaca</td>                    
                <td class="punteado"></td>
                <td class="col2">leche</td>                   
            </tr>

            <tr>
                <td>C</td>
                <td class="col1">pan</td>                     
                <td class="punteado"></td>
                <td class="col2">leche</td>                   
            </tr>

            <tr>
                <td>D</td>
                <td class="col1">pan</td>                     
                <td class="punteado"></td>
                <td class="col2">caliente</td>                
            </tr>

            <tr>
                <td>E</td>
                <td class="col1">engordar</td>                
                <td class="punteado"></td>
                <td class="col2">crema</td>                   
            </tr>              
    </table>
    <br/> <br/>
    <!-- 02 -->
    <table> 
        <tr>
            <td rowspan="6" class="negrita">02&nbsp;</td>            
            <td></td>
            <td class="negrita col1">..........</td>
            <td class="centrado">es a colmillo como ciervo es a</td>                  
            <td class="negrita col2">..........</td>
            <td rowspan="6">
                &nbsp; <select id="2" name="V02">
                    <option value=""selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>A&nbsp;</td>
            <td class="col1">elefante</td>                    
            <td class="punteado"></td>
            <td class="col2">gacela</td>                  
        </tr>
        <tr>
            <td>B&nbsp;</td>
            <td class="col1">marfil</td>                     
            <td class="punteado"></td>
            <td class="col2">gacela</td>                  
        </tr>
        <tr>
            <td>C&nbsp;</td>
            <td class="col1">elefante</td>                     
            <td class="punteado"></td>
            <td class="col2">cornamenta</td>                  
        </tr>
        <tr>
            <td>D&nbsp;</td>
            <td class="col1">marfil</td>                     
            <td class="punteado"></td>
            <td class="col2">cornamenta</td>                  
        </tr>
        <tr>
            <td>E&nbsp;</td>
            <td class="col1">marfil </td>                     
            <td class="punteado"></td>
            <td class="col2">cazar</td>                  
        </tr>
    </table>
    <br /> <br />
    <!-- 03 -->
    <table>
        <tr>
            <td rowspan="6" class="negrita">03&nbsp;</td>         
            <td></td>
            <td class="negrita col1">..........</td>
            <td class="centrado">es a segundo como día es a</td>                   
            <td class="negrita col2">..........</td>
            <td rowspan="6">
                &nbsp; <select id="3" name="V03">
                    <option value=""selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>A&nbsp;</td>
            <td class="col1">primero</td>                    
            <td class="punteado"></td>
            <td class="col2">hora</td>                 
        </tr>
        <tr>
            <td>B&nbsp;</td>
            <td class="col1">primero</td>                    
            <td class="punteado"></td>
            <td class="col2">luz</td>                 
        </tr>
        <tr>
            <td>C&nbsp;</td>
            <td class="col1">minuto</td>                    
            <td class="punteado"></td>
            <td class="col2">diario</td>                 
        </tr>
        <tr>
            <td>D&nbsp;</td>
            <td class="col1">minuto</td>                    
            <td class="punteado"></td>
            <td class="col2">hora</td>                 
        </tr>
        <tr>
            <td>E&nbsp;</td>
            <td class="col1">reloj </td>                    
            <td class="punteado"></td>
            <td class="col2">diana</td>                 
        </tr>
    </table>
    <br /> <br />
    <!-- 04 -->
    <table>
        <tr>
            <td rowspan="6" class="negrita">04&nbsp;</td>         
            <td></td>
            <td class="negrita col1">..........</td>
            <td class="centrado">es a pie como sombrero es a</td>                    
            <td class="negrita col2">..........</td>
            <td rowspan="6">
                &nbsp; <select id="4" name="V04">
                    <option value=""selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>A&nbsp;</td>
            <td class="col1">dedo</td>                     
            <td class="punteado"></td>
            <td class="col2">cabeza</td>                  
        </tr>
        <tr>
            <td>B&nbsp;</td>
            <td class="col1">tobillo</td>                     
            <td class="punteado"></td>
            <td class="col2">cabeza</td>                  
        </tr>
        <tr>
            <td>C&nbsp;</td>
            <td class="col1">zapato</td>                     
            <td class="punteado"></td>
            <td class="col2">ala</td>                  
        </tr>
        <tr>
            <td>D&nbsp;</td>
            <td class="col1">zapato</td>                     
            <td class="punteado"></td>
            <td class="col2">cabeza</td>                  
        </tr>
        <tr>
            <td>E&nbsp;</td>
            <td class="col1">dedo</td>                     
            <td class="punteado"></td>
            <td class="col2">ala</td>                  
        </tr>
    </table>
    <br /> <br />
    <!-- 05 -->
    <table>
        <tr>
            <td rowspan="6" class="negrita">05&nbsp;</td>         
            <td></td>
            <td class="negrita col1">..........</td>
            <td class="centrado">es a vela como madera es a</td>              
            <td class="negrita col2">..........</td>
            <td rowspan="6">
                &nbsp; <select id="5" name="V05">
                    <option value=""selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>A&nbsp;</td>
            <td class="col1">cera</td>                     
            <td class="punteado"></td>
            <td class="col2">vegetal</td>                  
        </tr>
        <tr>
            <td>B&nbsp;</td>
            <td class="col1">cera</td>                     
            <td class="punteado"></td>
            <td class="col2">palo</td>                  
        </tr>
        <tr>
            <td>C&nbsp;</td>
            <td class="col1">viento</td>                     
            <td class="punteado"></td>
            <td class="col2">bote</td>                  
        </tr>
        <tr>
            <td>D&nbsp;</td>
            <td class="col1">dormir</td>                     
            <td class="punteado"></td>
            <td class="col2">papel</td>                  
        </tr>
        <tr>
            <td>E&nbsp;</td>
            <td class="col1">bote </td>                     
            <td class="punteado"></td>
            <td class="col2">vegetal</td>                  
        </tr>
    </table>
    <br /> <br />
    <!-- 06 -->
    <table>
        <tr>
            <td rowspan="6" class="negrita">06&nbsp;</td>         
            <td></td>
            <td class="negrita col1">..........</td>
            <td class="centrado">es a médico como secretaria es a</td>                   
            <td class="negrita col2">..........</td>
            <td rowspan="6">
                &nbsp; <select id="6" name="V06">
                    <option value=""selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>A&nbsp;</td>
            <td class="col1">hospital</td>                     
            <td class="punteado"></td>
            <td class="col2">oficina</td>                  
        </tr>
        <tr>
            <td>B&nbsp;</td>
            <td class="col1">enfermera</td>                     
            <td class="punteado"></td>
            <td class="col2">gerente</td>                  
        </tr>
        <tr>
            <td>C&nbsp;</td>
            <td class="col1">curación</td>                     
            <td class="punteado"></td>
            <td class="col2">dactilógrafa</td>                  
        </tr>
        <tr>
            <td>D&nbsp;</td>
            <td class="col1">medicina</td>                     
            <td class="punteado"></td>
            <td class="col2">oficina</td>                  
        </tr>
        <tr>
            <td>E&nbsp;</td>
            <td class="col1">medicina</td>                     
            <td class="punteado"></td>
            <td class="col2">gerente</td>                  
        </tr>
     </table>
    <br /> <br />
    <!-- 07 -->
    <table>
        <tr>
            <td rowspan="6"class="negrita">07&nbsp;</td>         
            <td></td>
            <td class="negrita col1">..........</td>
            <td class="centrado">es a pantera como perro es a</td>                 
            <td class="negrita col2">..........</td>
            <td rowspan="6">
                &nbsp; <select id="7"name="V07">
                    <option value=""selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>A&nbsp;</td>
            <td class="col1">selva</td>                    
            <td class="punteado"></td>
            <td class="col2">casa</td>                 
        </tr>
        <tr>
            <td>B&nbsp;</td>
            <td class="col1">gato</td>                    
            <td class="punteado"></td>
            <td class="col2">ladrido</td>                 
        </tr>
        <tr>
            <td>C&nbsp;</td>
            <td class="col1">gato</td>                    
            <td class="punteado"></td>
            <td class="col2">lobo</td>                 
        </tr>
        <tr>
            <td>D&nbsp;</td>
            <td class="col1">selva</td>                    
            <td class="punteado"></td>
            <td class="col2">jardín</td>                 
        </tr>
        <tr>
            <td>E&nbsp;</td>
            <td class="col1">presa</td>                    
            <td class="punteado"></td>
            <td class="col2">ladrido</td>                 
        </tr>
     </table>
    <br /> <br />
    <!-- 08 -->
    <table>
        <tr>
            <td rowspan="6" class="negrita">08&nbsp;</td>         
            <td></td>
            <td class="negrita col1">..........</td>
            <td class="centrado">es a perder como triunfar es a</td>               
            <td class="negrita col2">..........</td>
            <td rowspan="6">
                &nbsp; <select id="8" name="V08">
                    <option value=""selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>A&nbsp;</td>
            <td class="col1">fallar</td>                     
            <td class="punteado"></td>
            <td class="col2">fracasar</td>                  
        </tr>
        <tr>
            <td>B&nbsp;</td>
            <td class="col1">ganar</td>                     
            <td class="punteado"></td>
            <td class="col2">fracasar</td>                  
        </tr>
        <tr>
            <td>C&nbsp;</td>
            <td class="col1">ganar</td>                     
            <td class="punteado"></td>
            <td class="col2">adelantar</td>                  
        </tr>
        <tr>
            <td>D&nbsp;</td>
            <td class="col1">lograr</td>                     
            <td class="punteado"></td>
            <td class="col2">aprobar</td>                  
        </tr>
        <tr>
            <td>E&nbsp;</td>
            <td class="col1">ganar</td>                     
            <td class="punteado"></td>
            <td class="col2">aprobar</td>                  
        </tr>
    </table>
    <br /> <br />
    <!-- 09 -->
    <table>
        <tr>
            <td rowspan="6" class="negrita">09&nbsp;</td>         
            <td></td>
            <td class="negrita col1">..........</td>
            <td class="centrado">es a castigar como olvidar es a</td>                
            <td class="negrita col2">..........</td>
            <td rowspan="6">
                &nbsp; <select id="9" name="V09">
                    <option value=""selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>A&nbsp;</td>
            <td class="col1">juzgar</td>                    
            <td class="punteado"></td>
            <td class="col2">perdonar</td>                 
        </tr>
        <tr>
            <td>B&nbsp;</td>
            <td class="col1">encarcelar</td>                    
            <td class="punteado"></td>
            <td class="col2">memorizar</td>                 
        </tr>
        <tr>
            <td>C&nbsp;</td>
            <td class="col1">juzgar</td>                    
            <td class="punteado"></td>
            <td class="col2">perder</td>                 
        </tr>
        <tr>
            <td>D&nbsp;</td>
            <td class="col1">azotar</td>                    
            <td class="punteado"></td>
            <td class="col2">recordar</td>                 
        </tr>
        <tr>
            <td>E&nbsp;</td>
            <td class="col1">indultar </td>                    
            <td class="punteado"></td>
            <td class="col2">recordar</td>                 
        </tr>
    </table>
    <br /> <br />
    <!-- 10 -->
    <table>
        <tr>
            <td rowspan="6" class="negrita">10&nbsp;</td>         
            <td></td>
            <td class="negrita col1">..........</td>
            <td class="centrado">es a tierra como nudo es a</td>                  
            <td class="negrita col2">..........</td>
            <td rowspan="6">
                &nbsp; <select id="10" name="V10">
                    <option value=""selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>A&nbsp;</td>
            <td class="col1">hectárea</td>                      
            <td class="punteado"></td>
            <td class="col2">cuerda</td>                   
        </tr>
        <tr>
            <td>B&nbsp;</td>
            <td class="col1">km/hora</td>                      
            <td class="punteado"></td>
            <td class="col2">mar</td>                   
        </tr>
        <tr>
            <td>C&nbsp;</td>
            <td class="col1">desierto</td>                      
            <td class="punteado"></td>
            <td class="col2">cuerda</td>                   
        </tr>
        <tr>
            <td>D&nbsp;</td>
            <td class="col1">km/hora</td>                      
            <td class="punteado"></td>
            <td class="col2">metro</td>                   
        </tr>
        <tr>
            <td>E&nbsp;</td>
            <td class="col1">granja</td>                      
            <td class="punteado"></td>
            <td class="col2">cuerda</td>                   
        </tr>
    </table>

    <!-- TR_RV -->
    <table> 
        <tr class="Hide">
            <td><input type="text" class="Hide" name="RV_TR" id="RV_TR" /></td>
        </tr>
    </table>
</form>

@section Scripts{
    <script src="~/Scripts/Test_RV.js"></script>
}

