
@{
    ViewBag.Title = "DAT - RM [Breve]";
    Layout = "~/Views/Shared/Layout_Test.cshtml";
}

@section Styles{
    <link type="text/css" rel="stylesheet" href="~/Content/Test_RM.css" />
}

<!-- Tabla con Problemas y Select para elegir la Solución A, B o C -->

<form action="@Url.Action("CargarRespuestas_RM","Home")" id="Formulario" method="post">
    <table>
        <!-- 01 -->
        <tr> 
            <td>01</td>
            <td class="col-md-4"><img src="~/dat_img/RM/01.jpg" /></td>           
            <td class="col-md-6">¿Cuál engranaje gira menor número de veces en un minuto?</td>
            <td>
                <select id="1" name="M01">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </td>
        </tr>
        <!-- 02 -->
        <tr>
            <td>02</td>
            <td><img src="~/dat_img/RM/02.jpg" /></td>
            <td>¿Cuál engranaje gira más veces en un minuto?</td>
            <td>
                <select id="2" name="M02">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </td>
        </tr>
        <!-- 03 -->
        <tr>
            <td>03</td>
            <td><img src="~/dat_img/RM/03.jpg" /></td>
            <td>¿Cuál puerta se moverá mejor sobre sus bisagras?<br />(Si no hay diferencia, marcá C?</td>
            <td>
                <select id="3" name="M03">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </td>
        </tr>
        <!-- 04 -->
        <tr>
            <td>04</td>
            <td><img src="~/dat_img/RM/05.jpg" /></td>
            <td>Cuando la rueda de arriba gira en la dirección indicada, la parte superior de la rueda de abajo se moverá:
            <br />(A) Uniformemente hacia la izquierda, <br />(B) Uniformemente a la derecha, <br />(C) A las sacudidas en ambos lados</td>
            <td>
                <select id="4" name="M04">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </td>
        </tr>
        <!-- 05 -->
        <tr>
            <td>05</td>
            <td><img src="~/dat_img/RM/07.jpg" /></td>
            <td>¿Qué engranaje gira en el mismo sentido que el eje “X”? <br />(Si son ambos, marcá la opción C).</td>
            <td>
                <select id="5" name="M05">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </td>
        </tr>
        <!-- 06 -->
        <tr>
            <td>06</td>
            <td><img src="~/dat_img/RM/09.jpg" /></td>
            <td>¿Cuál engranaje gira en sentido opuesto al del impulsor?</td>
            <td>
                <select id="6" name="M06">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </td>
        </tr>
        <!-- 07 -->
        <tr>
            <td>07</td>
            <td><img src="~/dat_img/RM/11.jpg" /></td>
            <td> Cuando la polea de abajo gira en la dirección indicada, ¿en qué dirección gira la de arriba? <br />(Si en cualquiera de las dos, marcá C).</td>
            <td>
                <select id="7" name="M07">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </td>
        </tr>
        <!-- 08 -->
        <tr>
            <td>08</td>
            <td><img src="~/dat_img/RM/12.jpg" /></td>
            <td>Si el impulsor gira en la dirección señalada, ¿en qué dirección gira la polea “X”? <br />(Si no hay diferencia, marcá C).</td>
            <td>
                <select id="8" name="M08">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </td>
        </tr>
        <!-- 09 -->
        <tr>
            <td>09</td>
            <td><img src="~/dat_img/RM/13.jpg" /></td>
            <td>¿Cuál figura muestra la forma en que estos hombres podrían levantar más fácilmente el tubo? <br />(Si no hay diferencia, marcá C).</td>
            <td>
                <select id="9" name="M09">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </td>
        </tr>
        <!-- 10 -->
        <tr>
            <td>10</td>
            <td><img src="~/dat_img/RM/15.jpg" /></td>
            <td>¿Cuál hombre debe tirar con mayor fuerza? <br />(Si no hay diferencia, marcá C).</td>
            <td>
                <select id="10" name="M10">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </td>
        </tr>
        <!-- 11 -->
        <tr>
            <td>11</td>
            <td><img src="~/dat_img/RM/17.jpg" /></td>
            <td>¿Con cuál cabrestante se puede levantar mejor una carga más pesada? <br />(Si no hay diferencia, marcá C).</td>
            <td>
                <select id="11" name="M11">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </td>
        </tr>  
        <!-- 12 -->
        <tr>
            <td>12</td>
            <td><img src="~/dat_img/RM/19.jpg" /></td>
            <td>¿En qué figura le es más fácil al hombre dar vuelta la manivela? <br />(Si no hay diferencia, marcá C). </td>
            <td>
                <select id="12" name="M12">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </td>
        </tr>         
        <!-- 13 -->
        <tr>
            <td>13</td>
            <td><img src="~/dat_img/RM/21.jpg" /></td>
            <td>¿Qué camión se volcará más fácilmente? <br />(Si no hay diferencia, marcá C). </td>
            <td>
                <select id="13" name="M13">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </td>
        </tr>        
        <!-- 14 -->
        <tr>
            <td>14</td>
            <td><img src="~/dat_img/RM/22.jpg" /></td>
            <td>¿Cuál rueda gira más rápidamente? <br />(Si no hay diferencia, marcá C).</td>
            <td>
                <select id="14" name="M14">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </td>
        </tr>        
        <!-- 15 -->
        <tr>
            <td>15</td>
            <td><img src="~/dat_img/RM/23.jpg" /></td>
            <td>Cuándo la rueda de la bicicleta se detenga, ¿cuál flecha señalará el punto donde quedará la válvula del neumático? </td>
            <td>
                <select id="15" name="M15">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </td>
        </tr>              
        <!-- 16 -->
        <tr>
            <td>16</td>
            <td><img src="~/dat_img/RM/25.jpg" /></td>
            <td>Cuando este automóvil es retardado por los frenos, la carga sobre la rueda delantera es… <br />(A) Mayor, <br />(B) Menor, <br />(C) Igual</td>
            <td>
                <select id="16" name="M16">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </td>
        </tr>             
        <!-- 17 -->
        <tr>
            <td>17</td>
            <td><img src="~/dat_img/RM/27.jpg" /></td>
            <td> Si tanto la rueda “A” como el freno “B” son de hierro, ¿cuál de esas dos partes se gastará más rápidamente? <br />(Si no hay diferencia, marcá C). </td>
            <td>
                <select id="17" name="M17">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </td>
        </tr>              
        <!-- 18 -->
        <tr>
            <td>18</td>
            <td><img src="~/dat_img/RM/29.jpg" /></td>
            <td>¿Cuál tractor debe tirar con mayor fuerza? <br />(Si no hay diferencia, marcá C). </td>
            <td>
                <select id="18" name="M18">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </td>
        </tr>   
        <!-- TR_RM -->
        <tr class="Hide">
            <td><input type="text" class="Hide" name="RM_TR" id="RM_TR" /></td>
        </tr>    
        <tr>
            <td class="SinBorde text-center" colspan="4"><input type="submit" name="Submit" class="btn btn-success col-md-4" id="Submit" value="Siguiente" /></td>
        </tr>               
    </table>
</form>

@section Scripts{
    <script src="~/Scripts/Test_RM.js"></script>
}

