
@{
    ViewBag.Title = "DAT - RA [Breve]";
    Layout = "~/Views/Shared/Layout_Test.cshtml";
}

@section Styles{
    <link type="text/css" rel="stylesheet" href="~/Content/Test_RA.css" />
}

<!-- Tabla con Problemas y Select para elegir la Solución A, B, C, D o E -->

<form action="@Url.Action("CargarRespuestas_RA","Home")" id="Formulario" method="post">
    <table>
        <!-- 01 -->
        <tr> 
            <td>01</td>
            <td><img src="~/dat_img/RA/01.jpg"/></td>
            <td>
                <select id="1" name="A01">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 02 -->
        <tr>
            <td>02</td>
            <td><img src="~/dat_img/RA/02.jpg" /></td>
            <td>
                <select id="2" name="A02">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 03 -->
        <tr>
            <td>03</td>
            <td><img src="~/dat_img/RA/03.jpg" /></td>
            <td>
                <select id="3" name="A03">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 04 -->
        <tr>
            <td>04</td>
            <td><img src="~/dat_img/RA/04.jpg" /></td>
            <td>
                <select id="4" name="A04">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 05 -->
        <tr>
            <td>05</td>
            <td><img src="~/dat_img/RA/05.jpg" /></td>
            <td>
                <select id="5" name="A05">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 06 -->
        <tr>
            <td>06</td>
            <td><img src="~/dat_img/RA/06.jpg" /></td>
            <td>
                <select id="6" name="A06">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 07 -->
        <tr>
            <td>07</td>
            <td><img src="~/dat_img/RA/07.jpg" /></td>
            <td>
                <select id="7" name="A07">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 08 -->
        <tr>
            <td>08</td>
            <td><img src="~/dat_img/RA/08.jpg" /></td>
            <td>
                <select id="8" name="A08">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 09 -->
        <tr>
            <td>09</td>
            <td><img src="~/dat_img/RA/09.jpg" /></td>
            <td>
                <select id="9" name="A09">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 10 -->
        <tr>
            <td>10</td>
            <td><img src="~/dat_img/RA/10.jpg" /></td>
            <td>
                <select id="10" name="A10">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 11 -->
        <tr>
            <td>11</td>
            <td><img src="~/dat_img/RA/11.jpg" /></td>
            <td>
                <select id="11" name="A11">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 12 -->
        <tr>
            <td>12</td>
            <td><img src="~/dat_img/RA/12.jpg" /></td>
            <td>
                <select id="12" name="A12">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 13 -->
        <tr>
            <td>13</td>
            <td><img src="~/dat_img/RA/13.jpg" /></td>
            <td>
                <select id="13" name="A13">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 14 -->
        <tr>
            <td>14</td>
            <td><img src="~/dat_img/RA/14.jpg" /></td>
            <td>
                <select id="14" name="A14">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 15 -->
        <tr>
            <td>15</td>
            <td><img src="~/dat_img/RA/15.jpg" /></td>
            <td>
                <select id="15" name="A15">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 16 -->
        <tr>
            <td>16</td>
            <td><img src="~/dat_img/RA/16.jpg" /></td>
            <td>
                <select id="16" name="A16">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- 17 -->
        <tr>
            <td>17</td>
            <td><img src="~/dat_img/RA/17.jpg" /></td>
            <td>
                <select id="17" name="A17">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </td>
        </tr>
        <!-- TR_RA -->
        <tr>
            <td><input type="text" class="Hide" name="RA_TR" id="RA_TR"/></td>
            <td><input type="submit" name="Submit" class="btn btn-success col-md-4" id="Submit" value="Siguiente" /></td>
        </tr>
    </table>
</form>

@section Scripts{
    <script src="~/Scripts/Test_RA.js"></script>
}

