
@{
    ViewBag.Title = "Evaluación Razonamiento Mecánico";
    Layout = "~/Views/Shared/Layout_test.cshtml";
}

<h1>Razonamiento Abstracto</h1>
<h2 id="Ejercicio">01</h2>

<!-- Ejercicio-->
<div id="Imagen">
    <img src="~/dat_img/RA/01.jpg"/>
</div>
<!-- Panel de Selección de Opciones-->
<div> 
    <label>A</label>
    <input type="radio" name="opcion" value="A" />
    <label>B</label>
    <input type="radio" name="opcion" value="B" />
    <label>C</label>
    <input type="radio" name="opcion" value="C" />
    <label>D</label>
    <input type="radio" name="opcion" value="D" />
    <label>E</label>
    <input type="radio" name="opcion" value="E" /> 
</div>
<!-- Formulario con Respuestas Acumuladas-->
<form action="" id="Formulario">
    <input type="text" class="hid" id="01" name="01"/>
    <input type="text" class="hid" id="02" name="02" />
    <input type="text" class="hid" id="03" name="03" />
    <input type="text" class="hid" id="04" name="04" />
    <input type="text" class="hid" id="05" name="05" />
    <input type="text" class="hid" id="06" name="06" />
    <input type="text" class="hid" id="07" name="07" />
    <input type="text" class="hid" id="08" name="08" />
    <input type="text" class="hid" id="09" name="09" />
    <input type="text" class="hid" id="10" name="10" />
    <input type="text" class="hid" id="11" name="11" />
    <input type="text" class="hid" id="12" name="12" />
    <input type="text" class="hid" id="13" name="13" />
    <input type="text" class="hid" id="14" name="14" />
    <input type="text" class="hid" id="15" name="15" />
    <input type="text" class="hid" id="16" name="16" />
    <input type="text" class="hid" id="17" name="17" />
    <br/>
    <br/>
    <input type="button" class="btn btn-success" value="Siguiente" id="Siguiente"/>
    <input type="submit" name="Submit" class="hide" id="Submit"/>
</form>


