body {
    width: 100vw;
}

body>div{
    margin-left: 16.66vw;
    margin-right: 16.66vw;
    display: inline-block;
}

.form-control {
    font-family: 'Arial', 'sans-serif';
}

input[type="email"] {
    text-align:center;
}

input[type="text"], input[type="number"]{
    text-transform: uppercase;
    text-align:center;
}

/*Botón Acepto*/
input[type="submit"]{
    margin: 0 16.66vw !important;
    font-size:1em;
}

.col-md-2 {
    width: 16.66vw !important;
}

.col-md-4 {
    width: 33.33vw !important;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}