body {
    width: 100vw;
}

.form-control {
    font-family: 'Arial', 'sans-serif';
}

input[type="email"] {
    text-align:center;
}

input[type="text"], input[type="number"]{
    text-transform: uppercase;
    text-align:center;
}

/*Botón Acepto*/
input[type="submit"]{
    font-size:1em;
    border-radius: .25rem;
    margin-top:.5rem;
}

.col-md-4 {
    width: 33.33vw !important;
    max-width:none !important;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
label {
    margin-bottom: 0 !important;
    margin-top: .5rem;
    text-align:center;
}

#Container_1 {
    margin-left:auto;
}

#Container_1, #Container_2 {
    margin-right:auto;
    vertical-align:middle;
}

#Container_2 > p, #Container_1 form div p {
    margin-bottom:8px;
    font-size: 0.75em;    
}

#Container_2 > p:last-child, #Container_2>p:nth-child(6) {
    text-align:center;
}

h2 {
    margin-bottom:0px;
}

body > div > div {
    margin-top:30px;
}

