a {
    font-size:1em !important;
    margin-left:33.33vw;
}

.p_RM>p{
    margin-bottom:0 !important;
    text-align:center;
}

table {
    margin-left:auto;
    margin-right:auto;
}

#Ej1_RA, #Ej2_RA{
    height: 135px;
}

#Ej1_RM, #Ej2_RM {
    height:200px;
}